/*BODY STYLE*/

body {
cursor:default;
font-family: Times New Roman;
}

body a {cursor: pointer;}

a {text-decoration: none;}
a:visited, a:link, a:active {color: blue;}
a:hover {color: #FFF; transition:0.2s ease;}


h1 {
font-size: 40px;
color: #8B008B;
text-shadow: #FF00FF 1px 1px 0px;
text-align: center;
position: relative;
top: -45px;
}

h2 {
font-size: 26px;
color: #9400D3;
text-shadow: black 1px 1px 1px;
text-align: center;
margin-bottom: 20px;
}

h3 {
font-size: 23px;
color: #000;
text-align: center;
}

h4 {
font-size: 19px;
color: #000;
text-align: center;
}

#backgroung {
z-index: -1;
position: fixed;
top: 0; 
right: 0; 
border: 0;  
width:100%;
height:100%;
}

/*TOP + MIDDLE + BOTTOM DIVS*/

.topdiv {
min-width: 920px;
/*max-width: 1200px;*/
width: 95%;
padding: 0;
margin: -8px auto 0 auto;
}

#header_gif {
width:100%;
margin: 0; 
}

.headerdiv {
width:600px;
height:10px;
margin: 20px auto;
padding:0;
border: 30px solid;
background-color: rgba(0, 0, 0, 0.8);
border-image: url("image/magentaframe.png") 50 50 50 50 repeat;
-webkit-border-image: url("image/magentaframe.png") 50 50 50 50 repeat;
}

.maindiv {
clear: both;
min-width: 920px;
/*max-width: 1200px;*/
width: 95%; 
border: 0; 
margin: 0 auto; 
}

.bottomdiv {
min-width: 920px;
/*max-width: 1200px;*/
width: 95%;
border: 0;
padding: 0;
margin: 0 auto 10px auto;
clear: both;
}

/*SEARCH*/

.bigsearchdiv {
min-width: 920px;
/*max-width: 1200px;*/
width: 95%; 
height: 34px;
border: 0; 
padding: 0;
margin: -5px auto 15px auto;
}

.searchdiv {
float: right;
width: 294px;
height: 24px;
background-color: rgba(50, 205, 50, 0.8); /*rgba(50, 205, 50, 0.8)   rgba(0, 191, 255, 0.8)*/
border: 2px #191970 solid;
padding: 2px 5px 5px 5px;
}

.searchinput {
width: 228px;
height: 17px;
float: left;
border: 0.5px grey solid;
padding-left: 2px;
margin: 3px 10px 0px 0px;
}
.searchinput:focus {outline: none;}

@-moz-document url-prefix() {
.searchinput {height: 17px; border: 1px grey solid;}
}

/*safari*/
_::-webkit-full-page-media, _:future, :root .searchinput {
width: 220px;
height: 15px;
border: 0.5px grey solid;
border-radius: 0;
box-shadow: 0;
}

.clearbutton {
background: url("image/special/x1.png");
background-size: 20px 18px;
width: 20px;
height: 18px;
position: absolute;
overflow: hidden;
border: 0px black solid;
margin: 4px 0 0 -31px;
}
.clearbutton:hover {background: url("image/special/x2.png"); background-size: 20px 18px; cursor: pointer;}
.clearbutton:focus {outline: none;}

/*IE*/
_:-ms-lang(x), .clearbutton {background-size: 18px 16px; width: 18px; height: 16px; margin: 4.5px 0 0 -30px;}
_:-ms-lang(x), .clearbutton:hover {background-size: 18px 16px;}

/*microsoft edge*/
@supports (-ms-ime-align:auto) {
.clearbutton {background-size: 18px 16px; width: 18px; height: 16px; margin: 5px 0 0 -30px;} 
.clearbutton:hover {background-size: 18px 16px;}
}

/*Mozilla Firefox*/
@-moz-document url-prefix() {
.clearbutton {
background-size: 20px 18px;
width: 20px;
height: 18px;
position: absolute;
border: 0px black solid;
margin: 4px 0 0 -31px;
}
.clearbutton:hover {background-size: 20px 18px;}
}

.searchbutton {
width: 50px;
height: 20px;
background-color: #F0F8FF;
border: 0;
border: 1px #AFEEEE outset;
padding: 0px 7px;
margin: 3px 0px 0px 0px;
}
.searchbutton:hover {cursor: pointer;}
.searchbutton:active {border: 1px #AFEEEE inset;}
.searchbutton:focus {outline: none;}

@-moz-document url-prefix() {
.searchbutton {font-size: 13px;  position: relative; border: 1.5px #AFEEEE outset; top: -2px;}
.searchbutton:active {border: 1.5px #AFEEEE inset;}
.searchbutton span {position: absolute; top: -1px; left: 6px;}
}

#searchlist {
z-index: 1;
position: absolute;
width: 229px;
background-color: #FFF;
list-style: none;
visibility: hidden;
border: 1px #191970 solid;
padding: 0px;
margin: 3px 0 0 0;
}

@-moz-document url-prefix() {
#searchlist {width: 231px;}
}

#searchlist li {padding: 2px 0 2px 4px; font-weight: normal; font-size: 16px;}
#searchlist li:hover {background-color: rgba(0, 255, 255, 0.4);}

/*MENU*/

.menu {
width: 95px;
height:260px; 
background-color: rgba(0, 255, 255, 0.8);
float: right;
padding: 0;
margin: 0 0px 60px 0;
border: 50px solid;
border-image: url("image/magentaframe.png") 50 50 50 50 repeat;
-webkit-border-image: url("image/magentaframe.png") 50 50 50 50 repeat;
}

.menulist {
list-style-type: none; 
position:relative;
padding:15px;
}

.menulist a:hover, a:visited, a:link, a:active {text-decoration: none;}

.menulist a {
font-size: 16px;
display:block; 
width:120px; 
min-height:25px; 
background: #E0FFFF;
color:black; 
border-radius: 10px; 
padding:10px 5px 5px 5px; 
margin:6px 0 0 -32px;
}
_:-ms-lang(x), .menulist a {width: 122px; margin:6px 0 0 -33px;}

.menulist a:visited   {color: black;}
.menulist a:hover   {color: white; background: #4169E1; transition:0.5s; }

.menuelement {
position:relative; 
margin:0; 
text-align:center;
}

.menulist li ul {
z-index: 1;
width: 95px;
height:140px; 
list-style: none;
padding: 0;
margin: 0;
position: absolute;
top:-100px;
left:-227px;
border: 50px solid;
background-color: rgba(0, 254, 254, 0.8);
border-image: url("image/magentaframe.png") 50 50 50 50 repeat;
-webkit-border-image: url("image/magentaframe.png") 50 50 50 50 repeat;
visibility:hidden; 
opacity: 0;
transition: 0.5s;
}

.menulist li ul li {
position:relative; 
margin:0 0 0 5px;
text-align: center;
}
	
.menulist li ul a {width:140px;}

.menulist li:hover ul{display: block; opacity: 1; visibility: visible;}

/*FILLER*/

#filler 
{
min-width: 600px;
/*max-width: 830px;*/
margin: 0 270px 60px 0px;
padding: 0;
font-size: 19px;
text-align: justify;
border: 50px solid;
background-color: rgba(0, 255, 255, 0.8);
border-image: url("image/magentaframe.png") 50 50 50 50 repeat;
-webkit-border-image: url("image/magentaframe.png") 50 50 50 50 repeat;
}
[src*="monolit"] {width: 47px;}
[src*="blackmonolith"] {width: 60px;}

/*FOOTER*/

#footer
{
height: 20px;
margin: 0;
position:relative;
border: 50px solid;
background-color: rgba(0, 254, 254, 0.8);
border-image: url("image/magentaframe.png") 50 50 50 50 repeat;
-webkit-border-image: url("image/magentaframe.png") 50 50 50 50 repeat;
}

#footer span {
display:inline-block;
position:absolute;
margin: -25px 0 0 -10px;
font-size: 14px;
}
#footer img {float:right; margin:-10px 0 0 0;}

/*HELPFULL CLASSES*/

.boxtag {
margin:auto;
background: rgba(0, 0, 0, 0.3); /*background: rgba(30, 144, 255, 0.4);*/
padding:15px 15px; 
border-radius: 15px; 
border: 2px solid #000080;
text-align: justify;
}

.sometables {width:550px; height:auto; position:relative; margin: 0 auto;}

.hinttag {
position:relative; 
cursor:default; 
font-weight:700;
}

.hintimg{position:relative;}

.hinttagtext {
visibility:hidden; 
opacity:0; 
transition:all 0.3s ease; 
display:block; 
position:absolute; 
top:22px;
left:-130px; 
padding:5px; 
border:2px solid #000080;
border-radius: 5px; 
background-color: #E0FFFF; 
font-size:15px; 
text-align:left; 
color:black; 
z-index:1;
}

.hinttag:hover .hinttagtext{
visibility:visible; 
opacity:1; 
transition-delay:0s;
}

.hintimg:hover .hinttagtext{
visibility:visible; 
opacity:1; 
transition-delay:0s;
}

.nowrap {white-space: nowrap;}

.tabtab {
border:0; 
padding:0; 
margin:0; 
width:2em; 
height:4px; 
display:inline-block;
}

.space {
border:0;
padding:0;
margin:0 auto;
height:1px;
}

/*MAIN PAGE*/

.mainpageinfo {
background-color: rgba(224, 255, 255, 0.8); 
border: 0; 
border-radius: 10px; 
padding: 15px;
margin: 25px 0 0 0;
}
.mainpageinfo a:hover {color: maroon;}

/*CHANGELOGS*/

.changelogsdiv {
background-color: rgba(224, 255, 255, 0.8); 
border: 0; 
border-radius: 10px; 
padding: 5px 15px 5px 15px;
margin: 5px 0 20px 0;
}
.changelogsdiv a:hover {color: maroon;}
.changelogsdiv li {margin-bottom:15px;}

.resizebutton {width: 18px; height: 18px; float: left; background-image: url(image/special/plus.png); margin: 2px 10px 0px 0px; cursor: pointer;}

.hiddendiv {margin: -5px 0 5px 25px;}

.changetitle {text-align: left; color: #191970; font-size: 22px; margin-bottom: 0px;}

.innlist li {margin-bottom:15px;}

.listmainrow{font-weight: bold; color: black;}

.miniimg {padding: 0; margin-top: 10px;}
.miniimg img {cursor: pointer; width: 100px; background-color: #191970; border: 2px #191970 solid;}

/*CHANGELOGS SUBPAGE*/

.chsubpage {width: 500px;}
.chsubimgdiv {height: 200px; width: 300px; margin: 10px auto 10px auto;}
.chsubimg {
height: 100%; 
width: 100%; 
background-color: #4B0082; 
border: 4px solid; 
border-image: url("image/pborder.png") 6 6 6 6 repeat; 
-webkit-border-image: url("image/pborder.png") 6 6 6 6 repeat;
}

/*COVE*/

.coveimg {
width: 100%; 
background-color: #4B0082; 
border: 4px solid; 
border-image:url("image/pborder.png") 6 6 6 6 repeat;
-webkit-border-image:url("image/pborder.png") 6 6 6 6 repeat;
}

.buildings .boxtag {width:80%; min-width:530px;}

.covetable {
background: #F0E68C;
text-align:left;
border: 2px solid #000080;
border-collapse:collapse;
width:100%; 
margin: 0 auto;
}

.covetable th {font-size: 19px; border: 0; text-align: left; background-color: #DAA520; padding: 2px 0 2px 7px;}
.covetable td {padding:7px;}
.covetable .coveimgtd img {margin-bottom: 0px;}

.coveimgtd {width:100px; background-color: rgba(0, 0, 0, 0.1);}

.covemageguild .boxtag {width: 550px;}
.covemageguild .sometables {width:550px;}

.mageguildtable {
margin: -10px auto 0 auto;
background-color: #F0E68C; 
border-collapse: collapse;
border: 2px solid #000080;
padding: -10px;
text-align:center;
float: left;
}

.mageguildtable th {padding:3px 0 3px 0; font-weight: normal; font-size: 19px; background-color: #DAA520;}
.mageguildtable td, .mageguildtable th {border: 2px solid #000080;margin: -10px;}
.mageguildtable img {margin: 5px 4px 1px 5px; width: 40px; height: 40px;}
.mageguildtable .texttd {width: 60px;}

.spellimgtd {background-color: rgba(0, 0, 0, 0.2);}

/*CREATURES*/

.creatures .boxtag {width:90%; min-width:573px; max-width:700px;}

.crdiv {
width: 100%;
min-width:573px; 
max-width:620px; 
height:280px;
border: 0; 
padding: 0; 
margin: 0 auto; 
}
.neutrals {height: 265px;}

.creatureTable {
background: #F0E68C;
text-align:left;
font-size: 18px;
border: 2px solid #000080;
border-collapse: collapse;
padding: 0;
}

.creatureTable th {border: 2px solid #000080; font-weight: normal; font-size: 18px; background-color: #DAA520;}
.creatureTable td {border: 2px solid #000080;}
.creatureTable .hinttagtext {min-width: 10px; left: -35px; }

.covecrgif {background: url("image/btlbg1.png"); width: 120px; border: 0; margin: 0;}
.neucrgif {background: url("image/btlbg1.png"); width: 120px; border: 0; margin: 0;}
.creature_img {border: 0; margin: 0; width: 120px;}

.crinfo {background-color: rgba(0,0,0,0.1);}
.pricetd {width:61px;}

/*OBJECTS*/

.objects .boxtag {width:75%; min-width:460px; /*max-width:600px;*/}

.objtable {
margin: 0px auto;  
background: #F0E68C;
text-align:left;
border: 2px solid #000080;
border-collapse:collapse;
width:86%;
min-width:460px;
/*max-width:600px;*/
}

.objtable th {font-size: 19px; border: 0; text-align: left; background-color: #DAA520; padding: 2px 0 2px 7px;}
.objtable td {padding:7px; border: 2px solid #000080; border-top: 0;}
.objtable img {margin-bottom: 0.5px;}

.objgif {background-color: #1E90FF;}

/*ARTEFACTS*/

.arts .boxtag {width:75%; min-width:460px; max-width:600px;}

.arttable {
width:85%;   
background: #F0E68C; 
text-align:left;
border: 2px solid #000080;
border-collapse:collapse;
margin: 0px auto;
}

.arttable th {font-size: 19px; border: 0; text-align: left; background-color: #DAA520; padding: 2px 0 2px 7px;}
.arttable td {padding:7px;}
.arttable span {margin: 5px;}
.arttable img {margin-bottom: 0.5px;}
.arttable .hinttagtext {min-width: 200px;}
.arttable .nowrap {margin: 0;}

.artimgtd {width:40px; background-color: rgba(0, 0, 0, 0.1);}
.artimg {border:0; cursor:pointer; }

.equations {
top: -16px; 
position: relative; 
font-weight: bold;
}

/*HEROES*/

.heroes .boxtag {width:90%; min-width:570px; max-width:700px;}
.heroes h4 {font-size: 22px;}

.herotable {
background: #F0E68C;
cursor: default;
border: 2px solid #000080;
border-collapse: collapse;
margin: 30px auto;
}

.herotable td, .herotable th {text-align:center; border: 0;}
.herotable th {font-weight:normal; font-size:19px; background-color:#DAA520; border-right: 2px solid #000080; padding: 3px 5px;}
.herotable td {border-bottom: 0;}
.herotable  .hinttagtext{left: -85px; transition:all 0.0s ease;}

.heroname {width:100px;}
.herotable .sectd {background-color:#DAA520;}
.herotable  .spectd {border-right: 2px solid #000080;  border-left: 2px solid #000080;}
.herotable  .spectd  .hinttagtext{min-width: 200px;}
.spellstd {background-color:#F0E68C;}
.spellstd .hinttagtext {min-width: 10px;}
.spellstd img {width: 45px; height: 45px;}

.herotable img {margin: 5px 0px 2px 0px;}
.herotable .heroavatd img {margin: 5px 0px 1px 0px;}

.heroava {border: 0; height:60px; width:60px;}

.herotable .heroavatd {height: 70px; width:72px;  border-right: 2px solid #000080;}
.herotable .secskillstd {height:70px; width:70px; background-color:#F0E68C;}

.heroimg {
border:0;
width:45px;
cursor:pointer; 
}

.primesktable {
margin: -10px auto 0 auto;
background-color: #F0E68C; 
border-collapse: collapse;
border: 2px solid #000080;
padding: -10px;
}

.primesktable th {font-weight:normal; font-size:19px; background-color:#DAA520;}
.primesktable td, th {border: 2px solid #000080;margin: -10px;}
.primesktable img {margin: 5px 4px 1px 5px;}

.primesktable .odd {background-color:#DAA520; border: 0;}
.primesktable .even {background-color:#F0E68C; border: 0;}

/*HEROES CLASS SUBPAGE*/

.heroesclass .boxtag {width: 525px;}
.heroesclass .sometables {width:523px; height:430px;}

.secsktable {
margin: -10px auto 0 auto;
background-color: #F0E68C; 
border-collapse: collapse;
border: 2px solid #000080;
padding: -10px;
}

.secsktable td {border: 2px solid #000080; margin: -10px;}
.secsktable img {margin: 5px 4px 1px 5px; width: 40px; height: 40px;}
.secsktable .texttd {width: 60px;}

/*HEROES SUBPAGE*/

.herosub {width: 500px;}

.heroavasubdiv {
width: 60px; 
height: 60px; 
float:left; 
margin: 5px 20px 5px 0; 
padding: 0; 
background-color: #4B0082;
border: 4px solid; 
border-image:url("image/pborder.png") 6 6 6 6 repeat;
-webkit-border-image:url("image/pborder.png") 6 6 6 6 repeat;
}

.heroavasub {height: 60px; width: 60px;}

.armytable {
margin-top: -10px;
background-color: #F0E68C; 
border-collapse: collapse;
border: 2px solid #000080;
padding: -10px;
}

.armytable td {border: 2px solid #000080;margin: -10px; font-size:15px;}
.armytable img {margin: 3px 3px -2px 4px; width: 30px; height: 30px;}

.heropagetable {
margin-top: -10px;
background: #F0E68C;
border: 2px solid #000080;
border-collapse:collapse; 
float:left; 
font-size: 18px;
}

.heropagetable td {padding:7px; border: 2px solid #000080;}

.heroinfoimgtd {background-color: rgba(0, 0, 0, 0.2);}
.heropagetable .heroinfoimgtd img {width: 45px; height: 45px; margin-bottom: 1px;}
.herospecinfotd {width: 435px;}
.secskdiv {height: 130px;}
.bidley {height: 70px;}
.elmore {height: 65px;}
