/*BODY STYLE*/

h1 {font-size: 50px; margin-top: 20px;}
h2 {font-size: 34px;}
h3 {font-size: 28px;}
h4 {font-size: 24px;}

/*TOP + MIDDLE + BOTTOM DIVS*/

.topdiv {
max-width: 1600px;
width: 95%;
}

.headerdiv {
width:750px;
height:10px;
border: 40px solid;
border-image: url("image/magentaframe.png") 50 50 50 50 repeat;
-webkit-border-image: url("image/magentaframe.png") 50 50 50 50 repeat;
}

.maindiv {
max-width: 1600px;
width: 95%; 
}

.bottomdiv {
max-width: 1600px;
width: 95%;
}

/*SEARCH*/

.bigsearchdiv {
max-width: 1600px;
width: 95%; 
height: 34px;
margin: -5px auto 20px auto;
}

.searchdiv {
width: 360px;
height: 28px;
border: 2.5px #191970 solid;
}

.searchinput {
width: 280px;
height: 18px;
font-size: 17px;
padding-left: 2px;
}

@-moz-document url-prefix() {
.searchinput {height: 20px;}
}

.clearbutton {
background-size: 24px 22px;
width: 24px;
height: 22px;
margin: 4px 0 0 -35px;
}
.clearbutton:hover {background-size: 24px 22px;}

_:-ms-lang(x), .clearbutton {background-size: 22px 20px; width: 22px; height: 20px; margin: 5px 0 0 -33px;}
_:-ms-lang(x), .clearbutton:hover {background-size: 22px 20px;}

@supports (-ms-ime-align:auto) {
.clearbutton {background-size: 22px 20px; width: 22px; height: 20px; margin: 6px 0 0 -34px;} 
.clearbutton:hover {background-size: 22px 20px;}
}

@-moz-document url-prefix() {
.clearbutton {
background-size: 23px 21px;
width: 23px;
height: 21px;
margin: 4px 0 0 -35px;
}
.clearbutton:hover {background-size: 23px 21px;}
}

.searchbutton {
width: 62px;
height: 24px;
font-size: 17px;
border: 2px #AFEEEE outset;
}
.searchbutton:active {border: 2px #AFEEEE inset;}

@-moz-document url-prefix() {
.searchbutton {font-size: 17px; top: 0px;}
.searchbutton span {position: absolute; top: -2px; left: 6px; top: -2px;}
}

#searchlist {width: 284px; border: 1.5px #191970 solid;}
#searchlist li {font-size: 19px;}

/*MENU*/

.menu {
width: 125px;
height:310px;
border: 60px solid;
border-image: url("image/magentaframe.png") 50 50 50 50 repeat;
-webkit-border-image: url("image/magentaframe.png") 50 50 50 50 repeat;
}

.menulist a {
width: 150px; 
min-height: 30px; 
font-size: 20px;
margin-bottom: 8px;
}
_:-ms-lang(x), .menulist a {width: 152px; margin-bottom: 8px;}

.menulist li ul {
width: 125px;
height:168px; 
top:-100px;
left:-257px;
}
	
.menulist li ul a {width:170px;}

/*FILLER*/

#filler 
{
max-width: 1200px;
font-size: 24px;
margin-right: 330px;
border: 60px solid;
border-image: url("image/magentaframe.png") 50 50 50 50 repeat;
-webkit-border-image: url("image/magentaframe.png") 50 50 50 50 repeat;
}
[src*="monolit"] {width: 56px;}
[src*="blackmonolith"] {width: 70px;}

/*FOOTER*/

#footer
{
height: 36px;
border: 60px solid;
border-image: url("image/magentaframe.png") 50 50 50 50 repeat;
-webkit-border-image: url("image/magentaframe.png") 50 50 50 50 repeat;
}

#footer span {
margin: -26px 0 0 -10px;
font-size: 18px;
}
#footer img {margin-top: -5px; width: 45px;}

/*HELPFULL CLASSES*/

.boxtag {border: 2.5px solid #000080}
.boxtag table {border: 2.5px solid #000080}

.hinttagtext {
top:22px;
left:-130px; 
min-width:200px; 
font-size:19px; 
border:2.5px solid #000080;
}

/*MAIN PAGE*/

/*CHANGELOGS*/

.resizebutton {width: 22px; height: 22px; background-size: 22px; margin: 3px 12px 0px 0px;}

.changetitle {font-size: 27px;}

.miniimg img {width: 120px; border: 2.5px #191970 solid;}

/*CHANGELOGS SUBPAGE*/

.chsubpage {width: 630px;}
.chsubimgdiv {height: 260px; width: 380px;}

/*COVE*/

.buildings .boxtag {width:80%; max-width:900px;}

.covetable th {font-size: 24px;}
.covetable img {width: 26px;}
.covetable .coveimgtd img {width: 180px; margin-bottom: 1px;}

.covemageguild .boxtag {width: 680px;}
.sometables {width: 660px;}

.mageguildtable th {font-size: 24px;}
.mageguildtable img {margin: 5px 6px 1px 7px; width: 50px; height: 50px;}
.mageguildtable .texttd {width: 75px;}

/*CREATURES*/

.creatures .boxtag {max-width: 900px;}

.crdiv {max-width: 780px; height: 340px;}
.neutrals {height: 320px;}

.creatureTable {font-size: 22px;}

.creatureTable th {font-size: 22px;}
.creatureTable .pricetd img {width: 26px;}
.creatureTable .hinttagtext {left: -45px; top: 27px;}

.covecrgif {width: 160px;}
.neucrgif {width: 160px;}
.creature_gif {width: 160px;}

.pricetd {width:76px;}

/*OBJECTS*/

.objects .boxtag {max-width:760px;}

.objtable {max-width:760px;}
.objtable th {font-size: 24px;}

/*ARTEFACTS*/

.arts .boxtag {width:75%; max-width:760px;}

.arttable {width:85%;}
.arttable th {font-size: 24px;}
.arttable img {width: 52px; margin-bottom: 0px;}

/*HEROES*/

.heroes .boxtag {width:90%; max-width:850px;}
.heroes h4 {font-size: 27px;}

.herotable th {font-size:24px; border-right: 2.5px solid #000080;}
.herotable  .spectd {border-right: 2.5px solid #000080;  border-left: 2.5px solid #000080;}
.herotable  .spectd  .hinttagtext{min-width: 250px;}
.herotable  .hinttagtext{left: -95px;}
.spellstd img {width: 55px; height: 55px;}

.heroname {width:120px;}

.herotable .heroavatd img {margin: 6px 0px 2px 0px;}
.heroava {height:72px; width:72px;}

.herotable .heroavatd {border-right: 2.5px solid #000080;}

.heroimg {width:55px;}

.primesktable th {font-size: 24px; padding: 0 5px 0 5px;}
.primesktable img {width: 72px; margin: 6px 6px 2px 7px;}

/*HEROES CLASS SUBPAGE*/

.primesktable .heroinfoimgtd img {width: 72px;}

.heroesclass .boxtag {width: 650px;}
.heroesclass .sometables {width:655px; height:520px;}

.secsktable img {width: 50px; height: 50px; margin: 5px 6px 1px 7px; }
.secsktable .texttd {width: 75px;}

/*HEROES SUBPAGE*/

.herosub {width: 620px;}

.heroavasubdiv {width: 72px; height: 72px; }
.heroavasub {height: 72px; width: 72px;}

.armytable td {font-size:18px;}
.armytable img {width: 38px; height: 38px;}

.heropagetable {font-size: 22px;}
.heropagetable .heroinfoimgtd img {width: 55px; height: 55px;}
.herospecinfotd {width: 540px;}
.secskdiv {height: 160px;}
.bidley {height: 80px;}
.elmore {height: 75px;}